.home {
    display: flex;

}

.homeContainer {
    background-color: #F8F8F8;
    min-height: 90vh;
    flex: 10;
    padding: 32px;

}

.widgets {
    display: flex;
    gap: 24px;
}

.homeLabel {
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;

    color: #001D3D;
    margin-bottom: 12px;
}

.mt{
    margin-top: 24px;
}
