.widget {
    text-align: center;
    flex: 1;
    color: #001D3D;
    background-color: white;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-shadow: 4px 4px 4px rgba(238, 238, 238, 0.2);
    border-radius: 8px;

}

.widget:hover{
    background-color: #0F45FF;
    color: white;
}